.filters {
    background-color: white;
    display: flex;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: relative;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #ffffff;
    float: right;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    right: 30px;
    position: absolute;
}

.filters button:hover {
    opacity: 90%;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.locations {
    border-right: 1px solid #dddddd;
}

.locations h3, .amenities h3  {
    font-weight: 600;
    margin: 20px 0 0 30px;
}

.locations h4, .amenities h4  {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 16px 30px;
}

.popover {
    background-color: #fafafa;
    width: 100%;
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    margin-top: 70px;
    box-sizing: border-box;
    z-index: 1000;
    display: none;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.head {
    font-size: 16px;
    margin: 0 0 0 -20px;
    font-weight: 600;
}

ul {
    list-style: none;
}

ul li {
    padding: 3px 0;
    margin-left: -4px;
}

ul h2 {
    font-size: 16px;
    margin: 0 0 5px -20px;

}

.filters div:hover .popover {
    display: block;
}